/**
 * Fast Checkout for WooCommerce footer styles.
 */

.fast-footer {
	padding: 10px 0;
	border-top: 1px solid $fast-color-border;
	border-bottom: 1px solid $fast-color-border;

	&-links {
		margin: 0 -8px;
		padding: 0;
		list-style: none;
	}
	&-link {
		display: inline-block;
		margin: 4px 8px;

		a {
			color: $fast-color-black;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 782px) {
			&.alignright {
				float: none;
			}
		}
	}
}
