/**
 * Styles for the status tab.
 */

.fast-status {
	padding-bottom: 40px;

    .dashicons-dismiss:before {
        color: $fast-color-notice-error;
    }

    .dashicons-yes-alt:before {
        color: $fast-color-notice-success;
    }
}
