/**
 * Variables for use in Fast admin styles.
 */

// ======
// Colors
// ======

$fast-color-notice-success: #00a32a;
$fast-color-notice-warning: #dba617;
$fast-color-notice-error: #d63638;
$fast-color-border: #c3c4c7;
$fast-color-border-dark: #666666;
$fast-color-white: #ffffff;
$fast-color-black: #000000;
